<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" *ngFor="let product of products">
        <img class="img-product-image-file"
             [src]="product.Files && product.Files.length && product.Files[0].Src"
             alt="{{product.Title}}">
        <div class="caption">
          <h3>{{product.Title}}</h3>
          <p>{{product.Description}}</p>
          <p>
            <a href="view/{{product.Id}}" class="btn btn-primary" role="button">View</a>
            <a href="edit/{{product.Id}}" class="btn btn-default" role="button">Edit</a>
            <a (click)="onProductDelete(product.Title, product.Id)" class="btn btn-default" role="button">Delete</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
